{% extends 'layout.html' %}

{% block body %}

<br>

<div id='contain'>
  <div class="container">
    <div class="jumbotron" id='jumbo'>

        <h2>Let us know what you like..</h2> 
        <hr> 
        <p>
        <form method="POST">
          <span class="input">
          <input type="text" name="song" placeholder="Enter the name of a song" required>
          <span></span> 
          </span>
          </p>
          <p>
          <span class="input">
          <input type="text" name="artist" placeholder="Enter the name of an artist" required>
          <span></span> 
          </span>
          </p>

          <input type="submit" class="btn" value="Submit">
        </form>
        
        <form action="/similarity">
          <input type="submit" class="btn" value="Clear">
        </form>
        
        <ol class="list-group" id="list">
          {% for song,id in similarSongs|zip(songID) %}
            <a class="list-group-item" style="color:steelblue"> {{song}} </a>
            <form method="POST">
              <div class="btn-group">
                <a class="btn btn-primary" href="/add_song/{{ song }}/{{ id }}"> Add to Library </a>
                <a class="btn btn-success" href="https://open.spotify.com/track/{{ id }}" target="_blank"> Listen on Spotify </a>
                <a class="btn btn-danger" href="https://www.youtube.com/results?search_query={{ song }}" target="_blank"> Listen on YouTube </a>
              </div>
            </form>
          {% endfor %}
        </ol>
        
        
        
    </div>
  </div>
</div>

{% endblock %}
